* {
  @extend %global;
}

/*=======================================*\
HEADER & MENU
\*=======================================*/

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $base-size $side-margin;
  @include shadowAxisY(2px);
  
  .header__logo {
    display: flex;
    align-items: center;
    
    .header__logo-img {
      width: $base-size * 10;
      height: $base-size * 10;
    }

    .header__logo-name {
      font-family: 'Audiowide', cursive;
      font-size: 28px;
      font-weight: bold;
      color: $purple-one;
      margin-left: $base-size * 2;
    }
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
  }

  .hamburger:focus {
    outline: none;
  }

  .header__menu-container {
    .header__menu {
      display: flex;
      align-items: center;

      .header__item {
        margin-left: $base-size * 4;
        list-style: none;

        .header__link {
          text-decoration: none;
          font-weight: $semi-bold;
          font-size: $base-size * 3 - 4;
          color: $purple-light;
        }

        .header__link:hover {
          font-weight: $semi-bold;
          color: $purple-dark;
        }

        .header__link--active {
          font-weight: $semi-bold;
          color: $purple-one;
        }
      }
    }
  }
}

/*=======================================*\
FOOTER
\*=======================================*/

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $base-size * 4 $side-margin;
  margin-top: $base-size * 5;
  @include shadowAxisY(-2px);

  .footer__logo {
    width: $base-size * 8;
  }

  .footer__menu{
    .footer__menu-list {
      display: flex;

      .footer__item {
        list-style: none;
        margin-right: $base-size;

        .footer__item-link {
          text-decoration: none;
          font-size: $base-size * 2;
        }
      }

      .footer__item:hover {
        color: $purple-dark;
        font-weight: $semi-bold;
      }

      .footer__item:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  .footer__social {
    display: flex;
    align-items: center;

    .footer__link {
      margin-left: $base-size * 4;
      .footer__icon {
        font-size: $base-size * 4;
        color: $purple-one;
      }
    }

    .footer__link:nth-child(1) {
      margin-left: 0;
    }
  }
}

/*=======================================*\
PORTADA
\*=======================================*/

.main {
  .main__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $base-size * 75;
    background-image: url("../images/saturn-hero-p-1920.png");
    background-position: center;
    background-size: cover;

    .main__hero-tittle {
      font-size: $base-size * 7;
      font-weight: $bold;
      text-align: center;
      margin-bottom: $base-size * 8;
      color: $white;
    }
    .main__hero-description {
      color: $white;
      width: $base-size * 80;
      font-size: $base-size * 2 + 4;
      text-align: center;
      margin-bottom: $base-size * 4;
    }

    .main__hero-btn-link{
      text-decoration: none;

      .main__hero-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $base-size * 2 - 4 $base-size * 3;
        border: $base-size - 4 solid $white;
        border-radius: $base-size * 3;
        transition: background-color 0.8s ease-in-out 0.2s;

        .main__hero-btn-txt {
          font-weight: $semi-bold;
          color: $white;
          transition: color 0.8s ease-in-out 0.2s;
        }
      }

      .main__hero-btn:hover {
        background-color: $white;
      }
      .main__hero-btn:hover .main__hero-btn-txt {
        color: $purple-one;
        font-weight: $semi-bold;
      }
    }

  }

  @media 
  (max-width: 768px) {
    .main__hero {
      background-image: url('../images/saturn-hero-p-1024.png');
    }
  }

  .main__clipimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:$base-size * 5 $side-margin;

    .main__clipimg-text {
      width: $base-size * 70;
    }

    .main__clipimg-content {
      width: 600px;
      height: 600px;

      .main__clipimg-image {
        clip-path: polygon(40% 10%, 60% 10%, 75% 50%, 100% 60%, 100% 70%, 75% 80%, 50% 70%, 25% 80%, 0 70%, 0 60%, 25% 50%);
        animation: move 2s alternate infinite ease-in-out;
      }

      @keyframes move {
        to {
          margin-left: 30px;
          margin-top: 20px;
        }
      }
    }
  }

  .main__home-cards {
    padding: 0 $side-margin;
    margin-top: $base-size * 5;

    .main__home-tittle {
      @extend %titleSec;
    }

    .main__cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .main__card-link {
        text-decoration: none;

        .main__card {
          display: flex;
          justify-content: center;
          padding-top: $base-size * 3;
          margin-bottom: $base-size * 4;
          width: 26.0424vw;
          height: 26.0424vw;
          border-radius: $base-size * 4;
          transition: 
          width 0.2s ease-in-out 0.1s, 
          height 0.2s ease-in-out 0.1s,
          box-shadow 0.2s ease-in-out 0.1s;

          @include shadowAxisY(4px);

          .main__card-title {
            color: $white;
            font-weight: $semi-bold;
            font-size: $base-size * 3; 
            transition: font-size 0.2s ease-in-out 0.1s;
          }
        }

        .main__card-one {
          @include pictureCard('../images/saturn-card.webp');
        }
        .main__card-two {
          @include pictureCard('../images/sat-food.png');
        }
        .main__card-three {
          @include pictureCard('../images/data.jpg');
        }

        .main__card:hover {
          width: 26.5vw;
          height: 26.5vw;
          box-shadow: 0 8px 8px $shadow;
        }
        .main__card:hover .main__card-title {
          font-size: $base-size * 3 + 4;
        }
      }
    }
  }
}

/*=======================================*\
MEDIA QUERIES
\*=======================================*/

@media screen and (max-width: 1024px) {
  /*=======================================*\
   MENU
  \*=======================================*/
  .header {
    padding: 24px;
    align-items: center;

    .header__logo {
      .header__logo-img {
        width: $base-size * 8;
        height: $base-size * 8;
      }
      .header__logo-name {
        font-size: $base-size * 3;
      }
    }

    .hamburger {
      display: block;
    }

    .header__menu-container {
      display: none;
    }

    .js-header__menu-container--show {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      height: 100vh;

      .js-header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $base-size * 3;

        .header__item {
          margin-bottom: $base-size * 3;
          margin-left: 0;

          .header__link {
            font-size: 5vw;
          }
        }
      }
    }
  }

  /*=======================================*\
   FOOTER
  \*=======================================*/

  .footer {
    flex-direction: column;
    padding: $base-size * 4 $base-size * 2;

    .footer__menu{
      margin-bottom: $base-size * 2;
     }

    .footer__social {
      .footer__link:nth-child(1) {
        margin-left: 0;
      }
    }
  }

/*=======================================*\
PORTADA
\*=======================================*/

  .main{
    .main__hero {
      padding: $base-size * 4 $base-size * 3;
      height: 100%;

      .main__hero-tittle {
        font-size: 9vw;
        margin-bottom: 5vw;
      }

      .main__hero-description {
        font-size: 4vw;
      }

      .main__hero-btn-link {
        margin-bottom: $base-size * 2;
      }
    }

    .main__clipimg {
      flex-direction: column;
      padding: $base-size * 5 $base-size * 3;
    }

    .main__home-cards {
      padding: 0 $base-size * 3;
      .main__cards-container {
        flex-direction: column;
        align-items: center;
        .main__card-link {
          .main__card {
            width: 70vw;
            height: 70vw;

            .main__card-title {
              font-size: 6vw;
            }
          }
        }
      }
    }
  }

}